body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #777;
  font-weight: 300;
  background: -ms-radial-gradient(center, ellipse cover, #6699cc 30%,#efefef 100%);
}
#login-box {
  position: relative;
  margin: 5% auto;
  width:600px;
  height: 400px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.6);
}
.left-box {
  position: absolute;
  top:0;
  left:0;
  box-sizing:border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}
h3 {
  margin: 0 0 20px 0;
  font-weight: 300px;
  font-size: 28px;
}
input[type="text"],
input[type="Password"] {
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 5px;
  width: 200px;
  height: 32px;
  border: none;
  outline: none;
  border-bottom: 1px solid #aaa;
  font-weight: 400px;
  font-size: 14px;
  transition: 0.2s easy;
}
input[type="submit"] {
  width: 120px;
  height: 25px;
  background: #f44336;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s easy;
}
input[type="submit"]:hover {
background: #ff5722;
transition: 0.2s easy;
}

.right-box {
  position: absolute;
  top:0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
  background-image: url(images1.jpg);
  background-size: cover;
  background-position: center;

}
.or{
  position: absolute;
  top: 180px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: #efefef;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.6);
  text-align: center;
  line-height: 40px;
}
.right-box .singinwith {
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: #fff;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
button.social {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-weight: 500;
  transition: 0.2s easy;
  cursor: pointer;
}
.Facebook{
  background: #32508e;
}
.Twitter {
  background: #55acee;
}
.Google {
  background: #dd4b39;
}
